{% extends 'catalog/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Mentions légales</strong>
                </h1>                
            </div>
        </div>
    </div>
</header>
<section id="legal">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        	<h2>Responsables</h2>
        	<hr>
        	<p>Colette et Rémy.</p>
        	<p>Tél. : 12-34-56-67-89</p>
        	<p>Mail : contact@purbeurre.com</p>
        	<br>
        	<h2>Resources</h2>
        	<hr>
        	<p>Le site est heberge par Heroku dans sa version gratuite.</p>
			<p>Images et icônes mise à disposition gratuitement par IconMoon.</p>
			<p><em>Thème utilisé : </em><a href="https://startbootstrap.com/template-overviews/creative/">Startbootstrap-creative</a></p>
			<p><em>Conception du site</em> : Elia Benfatto. <br/></p>
      </div>  
   </div>
  </div>
</section>
{% endblock %}